header, footer{
color: white;
}
header ul{
    margin: 0;
}
:root{
    --bs-primary-rgb: 44, 62, 80;
    --bs-secondary-rgb: 26, 188, 156;
    --bs-blue: #3A546D;
    
    
}
h1, h2, h3, h4{
    text-transform: uppercase;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.row img{
    width: 100%;
}
section{
    padding: 20px 0px;
}
.bar{
    margin: 0px 10px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}
.my-border{
    border-radius: 10px;
}
a:hover{
    color: white;
}
/* .overlay{
    position: relative;
}
.overlay:before{
    background-color: rgba(0, 0, 0, .6);
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 10px;
}
.my-card:hover .overlay:before{
    opacity: 1;
} */