header, footer{
background-color: rgb(44, 62, 80);
color: white;
}
:root{
    --bs-primary: rgb(44, 62, 80);
    --bs-primary-rgb: rgb(44, 62, 80);
}
h1, h2, h3, h4{
    text-transform: uppercase;
}

a{
    color: white;
    text-decoration: none;
}
.row img{
    width: 100%;
}
section{
    padding: 20px 0px;
}
.bar{
    height: 3px;
    padding: 0px 10px;
    background-color: black;
    border-radius: 2px;
}